/* On XS devices (default), top-down layout. */

/* - No gridded view for pages. */
#layout {
	display: none;
}

/* - Show field panel collapse button. */
#parameters {
	position: relative;
}
#fieldsCollapse {
	border: none;
	outline: none;
	background: none;
	position: absolute;
	right: 0;
	bottom: 0;
}

/* Beginning at small devices, control panel fixed on left side. */
@media (min-width: 768px) {
	/* - Control panel is fixed on the left side. */
	.container {
		position: fixed;
		width: 350px;
		height: 100%;
		overflow-y: auto;
	}
	
	/* - Output frame fills the remaining space. */
	#pages {
		position: fixed;
		left: 350px;
		right: 0;
		top: 0;
		bottom: 0;
		overflow: auto;
		padding: 10px;
	}
	
	/* - Show gridded view control. */
	#layout {
		display: block;
	}
}


/* Output pages with fixed aspect ratio trick: */
/* - Generic page wrapper class: full-width element combined with ratio-specific class. */
.page {
	display: block;
	position: relative;
	width: 100%;
	height: 0;
}
/* - For a given aspect ratio, set padding-bottom to height/width ratio. */
.page-us {
	padding-bottom: 129%;
}
.page-iso {
	padding-bottom: 142%;
}
/* - Wrapped canvas fills the parent container. */
.page canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.5);
}

/* Adjust spacing between page container elements. */
.page-container > * {
	padding: 6px;
}
.page-container > * > .input-group  {
	margin: -2px -2px 4px -2px;
}
