/* - No gridded view for pages. */
#layout {
    display: none;
}

/* - Show field panel collapse button. */
#parameters {
    position: relative;
}
#fieldsCollapse {
    border: none;
    outline: none;
    background: none;
    position: absolute;
    right: 50%;
    bottom: -8px;
}
#pages {
    margin-left: 8px;
    margin-right: 8px;
}
@media (min-width: 800px) {
	#pages {
		margin-left: auto;
		margin-right: auto;
		max-width: 130vh;
	}
}

/* Output pages with fixed aspect ratio trick: */
/* - Generic page wrapper class: full-width element combined with ratio-specific class. */
.page {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
}
/* - For a given aspect ratio, set padding-bottom to height/width ratio. */
.page-us {
    padding-bottom: 129%;
}
.page-iso {
    padding-bottom: 142%;
}
/* - Wrapped canvas fills the parent container. */
.page canvas, .page img, .page svg {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 4px;
    left: 0;
}

/* Adjust spacing between page container elements. */
.page-container  {
    padding: 4px;
    margin: 0;
}
.page-container .thumbnail {
    border-top: none;
    text-align: center;
    padding: 0;
}

/* Fullscreen mode (e.g. feed page). */
.fullscreen {
    background: black;
    margin: 0;
}
.fullscreen .page {
    padding: 0;
} 
.fullscreen svg {
    background: black;
    position: fixed!important;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0;
}


/* Template color selectors. */
.color-black {
    color: black!important;
}
.color-red {
    color: red!important;
}
.color-blue {
    color: blue!important;
}

/* Spinning icon for infinite scroll. */
#pages-end {
	text-align: center;
	padding: 4px;
}
#pages-end .icon {
	font-size: 32px;
}
.rotate-ccw {
    -webkit-animation: rotate-ccw 2s infinite linear;
    -moz-animation: rotate-ccw 2s infinite linear;
    animation: rotate-ccw 2s infinite linear;
}
@-webkit-keyframes rotate-ccw {
    from {-webkit-transform: rotate(359deg);}
	to {-webkit-transform: rotate(0deg);}
}
@-moz-keyframes rotate-ccw {
    from {-moz-transform: rotate(359deg);}
	to {-moz-transform: rotate(0deg);}
}
@keyframes rotate-ccw {
    from {transform: rotate(359deg);}
	to {transform: rotate(0deg);}
}
