<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GROCERY SIGNS</title>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/theme.css">
    
    <!-- Artoo -->
    <script src="https://medialab.github.io/artoo/public/dist/artoo-0.3.0.min.js"></script>
    
    <!-- OpenType.js -->
    <script src="js/opentype.min.js"></script>
    
    <!-- PDFKit -->
    <script src="js/pdfkit.js"></script>
    <script src="js/blob-stream.js"></script>

    <!-- PDF.js -->
    <script src="js/pdfjs/build/pdf.js"></script>
    <script>
    PDFJS.workerSrc = "js/pdfjs/build/pdf.worker.js";
    </script>

    <!-- Our stuff -->
    <!-- 1. Scraper -->
    <script>
    var providers = {};
    </script>
    <script src="scraper/amazon.js"></script>
    <script src="scraper/ebay.js"></script>
    <script src="scraper/etsy.js"></script>
    <script src="scraper/okcupid.js"></script>
    
    <!-- 2. Fonts, images & templates -->
    <script src="js/FontFile.js"></script>
    <script src="js/ImageFile.js"></script>
    <script src="templates.js"></script>
    <script src="generate.js"></script>
    
    <!-- 3. Main code -->
    <script src="js/grocery-signs.js"></script>
    
    <link rel="stylesheet" href="css/grocery-signs.css">
</head>
<body>
    <div class="container-fluid">
        <div class="page-header">
            <h1><sup>2 </sup>Grocery Signs</h1>
        </div>
        
        <!-- Parameters -->
        <div class="panel panel-default">
            <div id="parameters" class="panel-body">
                <form role="form" onsubmit="return false">
                    <div class="row">
                    
                        <!-- Source -->
                        <div class="form-group col-sm-3">
                            <label class="control-label">Source</label>
                            <select id="autofill-provider" class="form-control">
                                {% for provider in providers %}
                                <option value="{{provider}}"{% if active_provider == provider %} selected{% endif %}>{{provider}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <!-- Generate button -->
                        <div class="form-group col-sm-3">
                            <label class="control-label hidden-xs">&nbsp;</label>
                            <button type="button" id="autofill" class="btn btn-primary form-control" onclick="scrapeFields()">Generate <span class="icon icon-generate"></span></button>
                        </div>
                        
                        <!-- Random seed -->
                        <div class="form-group col-sm-3">
                            <label for="seed" class="control-label">Pull No.</label>
                            <input type="number" class="form-control" id="seed" placeholder="Seed" min="0" max="999999" disabled>
                        </div>
                        <div class="form-group col-sm-3 col-half">
                            <label class="control-label hidden-xs">&nbsp;</label>
                            <button type="button" id="genSeed" class="btn btn-default btn-round form-control" disabled><span class="sr-only">Refresh seed </span><span class="icon icon-generate"></span></button>
                        </div>
                        <div class="form-group col-sm-3 col-half">
                            <label class="control-label hidden-xs">&nbsp;</label>
                            <label class="btn btn-default form-control disabled"><input type="checkbox" id="randomize" disabled /><span> Rdm.</span></label>
                        </div>
                        
                        <script>
                        $("#randomize").change(seedChanged);
                        $("#seed").change(seedChanged).keyup(seedChanged);
                        $("#genSeed").click(function() {
                            $("#seed").val(generateRandomSeed()).change();
                        });
                        </script>
                    </div>
                </form>
                
                <!-- Template field container -->
                <div id="fields" class="collapse in">
                    <hr/>
                    <form class="row" role="form">
                        {% for field in fields %}
                        <div class="form-group col-sm-3">
                            <label for="{{field}}" class="control-label">{{field}}</label>
                            <input class="FIELD form-control" id="{{field}}" {% if sentences %} value="{{sentences[loop.index0]}}" readonly{% endif %}/>
                        </div>
                        {% endfor %}
                    </form>
                </div>
                {%if images %}<script>{# Scraped images are put in the scrapedImages object. #}
                loadImages({{images|safe}});
                </script>{% endif %}
                
                <button id="fieldsCollapse" type="button" data-toggle="collapse" data-target="#fields" aria-expanded="false" aria-controls="fields">
                    <span class="caret"></span>
                    <span class="sr-only">Show/hide field panel</span>
                </button>
            </div>
                    
            <script>
            // Refresh interface on field change.
            $(".FIELD").change(scheduleRefresh).keyup(scheduleRefresh);
            
            // Toggle collapse button icon.
            $("#fields")
                .on('hide.bs.collapse', function() {$("#fieldsCollapse").addClass("dropup");})
                .on('show.bs.collapse', function() {$("#fieldsCollapse").removeClass("dropup");})
            </script>
        </div>
    </div>
    
    <!-- Container for pages -->
    <div id="pages" class="container-fluid">
        {% for template in templates %}
        <div class="page-container col-xs-12 col-sm-6">
            <div class="input-group">
            <div class="styled-select"><select id="page-template-{{loop.index0}}" class="page-template form-control">
                {% for t in templates %}
                <option{% if t == template %} selected{% endif %}>{{loop.key}}</option>
                {% endfor %}
            </select></div>
            <span class="input-group-addon input-group-btn">
            <a role="button" id="page-download-{{loop.index0}}" class="btn btn-primary" {% if active_id %}
               href="/{{active_provider}}/{{active_id}}/{{loop.key}}.pdf" target="_blank" download="{{active_provider}}-{{active_id}}-{{loop.key}}.pdf"
            {% endif %}>PDF <span class="icon icon-arrow-down"></span></a>
            </span>
            </div>
            <div class="thumbnail">
            <div id="page-{{loop.index0}}" data-index="{{loop.index0}}" class="page"></div>
            </div>
        </div>
        {% endfor %}
    </div>
    <script>
    $(".page").addClass(pageFormatClass);
    $(".page-template").each(function(i, e) {$(e).change(function() {refreshFrame(i);});});
    </script>

    <!-- Scraping progress modal dialog. -->
    <div class="modal fade" id="progressDialog" tabindex="-1" role="dialog" aria-labelledby="scrapeLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="scrapeLabel">Scraping In Progress...</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <!-- Progress bar -->
                        <div id="progress" class="progress active">
                          <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="1" style="width: 0%">
                            <span class="sr-only">0%</span>
                          </div>
                        </div>
                        <!-- Progress texts -->
                        <p id="progressStep"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
    // Styling.
    $("select").wrap("<div class='styled-select'></div>");
    $("input[type='number']").wrap("<div class='styled-input'></div>").after("<span class='input-spinbox-up'></span><span class='input-spinbox-down'></span>");
    $(".input-spinbox-up")  .click(function(e) {e.stopPropagation(); var i = $(this).parent().find("input"); i[0].stepUp(); i.change();});
    $(".input-spinbox-down").click(function(e) {e.stopPropagation(); var i = $(this).parent().find("input"); i[0].stepDown(); i.change();});
    
    // Refresh interface.
    decodeHash();
    </script>
</body>
</html>
